.header {
  margin-top: 8px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-bottom: solid;
  border-top: solid;
  border-color: black;
  height: 60px;
}

.middle-section {
  margin-left: 400px;
  align-self: center;
}

.all-book-button {
  font-size: 30px;
  font-weight: bold;
  color: royalblue;
  border: none;
  background-color: white;
  cursor: pointer;
}

.all-book-button:hover {
  border: solid;
  border-color: black;
  border-width: 2px;
  padding: 6px;
  
}

.right-section {
  align-self: center;
  margin-right: 25px;
}


.signup-button {
  font-size: 20px;
  font-weight: bold;
  color: royalblue;
  border: none;
  background-color: white;
  cursor: pointer;
}

.signup-button:hover {
  border: solid;
  border-color: black;
  border-width: 2px;
  padding: 6px;
}

